@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Play";
  src: url("./fonts/Play-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AzoSans";
  src: url("./fonts/AzoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kulgo";
  src: url("./fonts/KulgoRegular.ttf") format("truetype");
}

body html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Mulish", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
