.login-container {
  background: url("../../public/bg/bgCUBIS.svg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur-border {
  position: absolute; /* Positioning behind the form */
  top: 50%;
  left: 50%;
  width: 350px; /* Width including padding */
  height: 450px; /* Height including padding */
  background: rgba(21, 42, 38, 0.35); /* Semi-transparent background */
  backdrop-filter: blur(15px);
  /* filter: blur(15px); */
  border-radius: 10px;
}

.form-container {
  width: 300px;
  z-index: 1; /* Position in front of the blur border */
}
