.login-container {
  background: url("../../public/bg/bgCUBIS00.svg") no-repeat center center fixed;
  /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur-border {
  position: absolute; /* Positioning behind the form */
  justify-content: center;
  width: 350px; /* Width including padding */
  height: 480px; /* Height including padding */
  background: rgba(202, 239, 227, 0.18);
  /* background: rgba(196, 158, 170, 0.055); Semi-transparent background */
  backdrop-filter: blur(15px);
  /* filter: blur(15px); */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(40, 33, 33, 0.1); /* Optional: Add a soft shadow */
}

.form-container {
  width: 300px;
  z-index: 1; /* Position in front of the blur border */
  /* text-align: center; Center the logo and brand name */
}

.logo-container {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Vertically align the logo and brand name */
  justify-content: center; /* Horizontally center the logo and brand name */
  margin-bottom: 20px; /* Spacing below the logo and brand name */
}

.logo {
  width: 56px;
  margin-right: 10px; /* Spacing between the logo and brand name */
}

.brand-name {
  font-size: 36px; /* Adjust the brand name size as needed */
  font-weight: bold; /* Bold text for the brand name */
  color: #f3f6f9; /* Color for the brand name (adjust as needed) */
  margin-bottom: 0px; /* Spacing below the brand name */
  font-family: "kuBook";
}

.powered-by {
  font-size: 12px; /* Adjust the font size as needed */
  text-align: center; /* Center the text */
  margin-top: 20px; /* Spacing above the text */
  color: #00a991;
  font-family: "Mulish";
}
