.login-container {
  background: url("../../public/bg/bgCUBIS.svg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-frame {
  width: 300px;
  background: rgba(255, 255, 255, 0.5); /* Translucent white background */
  backdrop-filter: blur(10px); /* Apply blur */
  filter: blur(
    5px
  ); /* This may help trigger the backdrop-filter in some browsers */

  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a soft shadow */
}
