@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Play";
  src: url("../fonts/Play-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AzoSans";
  src: url("../fonts/AzoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kulgo";
  src: url("../fonts/KulgoRegular.ttf") format("truetype");
}

.App {
  text-align: center;
  text-decoration: none;
  font-family: --apple-system, BlinkMacSystemFont, "Mulish", "Play", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.custom-radio-group {
  .ant-radio-wrapper {
  }

  .ant-radio-wrapper:hover {
    background-color: #f5f5f5;
  }
}

.checkbox-group-wrapper {
  backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  background-color: transparent; /* Adjust the opacity and color as needed */
  padding: 16px; /* Add padding to create some spacing around the checkboxes */
  border-radius: 8px; /* Add border radius for rounded corners */
  /* Add any additional styles for the checkbox group wrapper */
}

.checkbox-group-wrapper .ant-checkbox-group {
  background-color: transparent; /* Set the background color of the checkboxes as transparent */
}

.checkbox-group-wrapper .ant-checkbox-group .ant-checkbox-wrapper {
  margin-bottom: 8px; /* Add margin between the checkboxes */
}

.checkbox-group-wrapper .ant-checkbox-group .ant-checkbox-wrapper:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last checkbox */
}

.checkbox-group-wrapper .ant-checkbox-group .ant-checkbox-inner {
  background-color: #fff; /* Set the background color of the checkbox itself */
}

.checkbox-group-wrapper
  .ant-checkbox-group
  .ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #08271e; /* Set the background color of the checked checkbox */
  border-color: #08271e; /* Set the border color of the checked checkbox */
}

/* Custom styles for toggle switches */

.segmented-button {
  margin-right: 8px; /* Add spacing between the buttons */
}

.font-Mulish {
  font-family: "Mulish", sans-serif;
}

.font-Play {
  font-family: "Play", sans-serif;
}

.font-AzoSans {
  font-family: "AzoSans", sans-serif;
}

.font-Kulgo {
  font-family: "Kulgo", sans-serif;
}

.font-play-header {
  font-family: "Play", sans-serif;
  font-size: 28px;
}

.textEffect {
  font-weight: bold;
  text-decoration: underline;
}
.textEffect:hover {
  border-radius: 8px;
  border: dashed 0.5px #00a991;
  padding: 2 8 2 8;
  justify-content: center;
  background: #fff;
  text-decoration: none;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.myKad-select {
  z-index: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgba(222, 231, 241, 0.5);
  color: #131213;
}

.myTentera-select {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: grey;
  background-color: #f1eff2;
  color: #131213;
}

.myPR-select {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: grey;
  background-color: #eedcde;
  color: #131213;
}

.myKAS-select {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: grey;
  background-color: #e7eee6;
  color: #131213;
}

.forCommercial-select {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: grey;
  background-color: #faeadf;
  color: #131213;
}

.myKad-option {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #f3f6f9;
  color: #131213;
}

.myTentera-option {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #f3f6f9;
  color: #131213;
}

.myPR-option {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #f3f6f9;
  color: #131213;
}

.myKAS-option {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #f3f6f9;
  color: #131213;
}

.forCommercial-option {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #f3f6f9;
  color: #131213;
}

.myKad-select .ant-select-selector .ant-select-selection-item,
.myTentera-select .ant-select-selector .ant-select-selection-item,
.myPR-select .ant-select-selector .ant-select-selection-item,
.myKAS-select .ant-select-selector .ant-select-selection-item,
.forCommercial-select .ant-select-selector .ant-select-selection-item {
  background-color: none;
  color: #131213;
}
