@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Play";
  src: url("../fonts/Play-Regular.ttf") format("truetype");
}

.App {
  text-align: center;
  font-family: --apple-system, BlinkMacSystemFont, "Mulish", "Play", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.font-play {
  font-family: "Play", sans-serif;
}

.breadcrumb-item {
  font-family: "Mulish", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: border-color 0.3s;
  background-color: white;
}

.breadcrumb-item:hover {
  font-family: "Mulish", sans-serif;
  border: 0.5px dashed;
  border-color: #00a991;
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.breadcrumb-item:focus {
  font-family: "Mulish", sans-serif;
  border: 2px dashed;
  border-radius: 8px;
  border-color: #00a991;
  background-color: white;
}
