.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.file-thumbnail {
  position: relative;
  width: 64px;
  height: 64px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail.error {
  filter: brightness(75%);
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(166, 73, 82, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-error-icon {
  color: #fff;
  font-size: 24px;
}

.ant-upload-list-item-uploading {
  border: "1px dashed";
  font: "rgba (20, 29, 29, 0.4)";
}

.ant-upload-list-item-done {
  border: green;
}
