.ant-upload-list-item-uploading {
  border: 1px dashed #d5d6d8 !important;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  color: rgba (20, 29, 29, 0.4);
  background-color: rgba(0, 0, 0, 0.02);
}

.ant-upload-list-item-error {
  border: 1px solid #fdd9dd !important;
  background-color: rgba(244, 97, 112, 0.03);
}

.ant-upload-list-item-done {
  border: 1px solid #cef2db !important;
  background-color: rgba(51, 200, 106, 0.07);
}

.ant-upload-list-item {
  border-color: rgba(166, 73, 82, 0);
  border: 0px;
}
