.ant-upload-list-item-uploading {
  border: "1px dashed";
  color: rgba (20, 29, 29, 0.4);
  background-color: rgba(0, 0, 0, 0.02);
}

.ant-upload-list-item-error {
  border: 8px dotted #00a991;
  background-color: rgba(167, 66, 76, 0.07);
}

.ant-upload-list-item-done {
  border: 1px dotted #00a991;
  background-color: rgba(30, 123, 65, 0.1);
}

.ant-upload-list-item {
  border-color: rgba(166, 73, 82, 0);
  border: 0px;
}
