.message-transition-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.message-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.message-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.message-transition-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
