/* NapsWizard.css */

.naps-wizard {
  display: flex;
  align-items: center;
}

/* 进度条样式 */
.naps-wizard-progress-bar {
  background-color: #f0f0f0;
  border-radius: 6px;
  height: 12px;
  margin: 20px auto;
  width: 80%; /* 假设进度条宽度为80% */
}

.naps-wizard-progress-bar-inner {
  background-color: #1890ff;
  border-radius: 6px;
  height: 100%;
  transition: width 0.3s;
}

/* 环形进度条样式 */
.naps-wizard-progress-ring {
  display: block;
  margin: 20px auto;
  position: relative;
}

.naps-wizard-progress-ring-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.naps-wizard-progress-ring-progress {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 0 100;
  transition: stroke-dasharray 0.3s;
}

/* 步骤号码样式 */
.naps-wizard-step-number,
.naps-wizard-step-title {
  pointer-events: none;
}

.naps-wizard-step-title {
  position: absolute;
  top: 45px;
  width: 100%;
}

.completed-steps,
.current-step,
.pending-steps {
  display: flex;
  align-items: center;
}

.completed-steps,
.pending-steps {
  overflow: hidden;
}

.current-step {
  position: relative;
  transition: left 0.3s ease-in-out;
}

.avatar-item {
  margin-right: 8px;
}

.completed-count,
.pending-count {
  margin-left: 8px;
}
