/* napsWizard2.css */

/* 完成步驟的樣式 */
.completed-steps {
  display: flex;
  align-items: center;
  margin-bottom: 16px; /* 調整完成步驟區域的底部間距 */
}

.completed-steps .step {
  position: relative;
  font-family: "play";
  width: 28px;
  height: 28px;
  background-color: #6fc6ba; /* Set the color for completed steps */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Set the color for completed step text */
  font-weight: bold;
  margin-top: 10px;
  margin-right: -6px; /* Adjust the overlap amount by changing the negative margin */
  box-shadow: -1px 0px 5px rgba(19, 48, 47, 0.363);
}

.completed-steps .step-number {
  font-size: 14px;
  font-weight: bold;
  color: #00a991; /* 根據您的需求設置數字的顏色 */
}

.step-title {
  font-family: "play";
  font-weight: bold;
  margin-right: 4px;
  color: #00a991; /* Add margin between the step title and step number */
}

/* 當前步驟的樣式 */
.current-step {
  display: flex;
  align-items: center;
  margin-bottom: 2px; /* 調整當前步驟區域的底部間距 */
}

.current-step .step {
  position: relative;
  width: 46px;
  height: 46px;
  font-family: "play";
  align-items: center;
  justify-content: center;
  background-color: #00a991; /* 根據您的需求設置當前步驟的顏色 */
  border-radius: 50%;
  display: flex;
  color: white; /* 根據您的需求設置當前步驟文字的顏色 */
  font-weight: bold;
}

/* 待定步驟的樣式 */
.pending-steps {
  display: flex;
  grid-template-columns: repeat(
    2,
    20px
  ); /* 控制待定步驟圖案的佈局，這裡設置每個圖案寬度為 20px */
  align-items: center;
  justify-content: center;
  margin-bottom: 16px; /* 調整完成步驟區域的底部間距 */

  right: 20px;
  margin-right: 36px; /* 調整待定步驟之間的間距 */
}

.pending-steps .step {
  position: relative;
  font-family: "play";
  width: 28px;
  height: 28px;
  background-color: #d5d6d8; /* 根據您的需求設置待定步驟的顏色 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  color: white; /* 根據您的需求設置待定步驟文字的顏色 */
  font-weight: bold;
  margin-top: 10px;
  margin-right: 0px; /* Adjust the overlap amount by changing the negative margin */
  box-shadow: -1px 0px 5px rgba(19, 48, 47, 0.363);
}

.pending-steps .step-number {
  font-size: 14px;
  font-weight: bold;
  color: #6e737a; /* 根據您的需求設置數字的顏色 */
}

/* 其他樣式保持不變，添加以下樣式 */

.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  font-size: 24px;
  margin-right: 8px;
}

.step-number {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}

h2 {
  font-family: "play";
}
