/* NapsWizard.css */

.naps-wizard {
  display: flex;
  align-items: center;
}

.completed-steps,
.current-step,
.pending-steps {
  display: flex;
  align-items: center;
}

.completed-steps,
.pending-steps {
  overflow: hidden;
}

.current-step {
  position: relative;
  transition: left 0.3s ease-in-out;
}

.avatar-item {
  margin-right: 8px;
}

.completed-count,
.pending-count {
  margin-left: 8px;
}
